includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    paths:
        - app/

    excludePaths:
        - App/Http/Controllers/Auth/*

    level: 6
